<!DOCTYPE html>
<html>
<head>
	<title><%= @customer.name %></title>
</head>
<body>
	<h1><%= @customer.name %></h1>
	<h3>Gender: <%= @customer.gender %></h3>

	<p><a href="/customers/<%=@customer.id%>/edit">Edit this Customer</a></p>

	<form action="/customers/<%=@customer.id%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" name="delete" value="Delete this customer">
	</form>

	<p><a href="/customers">Back to Customers List</a></p>

</body>
</html>